/*CSS初始化  开始*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

/*各浏览器显示不同，去掉蓝色边框*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

/*去掉行内替换元素空白缝隙*/
select, input {
    vertical-align: middle;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/*防止拖动 影响布局*/
textarea {
    resize: none;
}

table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53"; /*宋体 unicode */
    color: #666;
    background: #fff;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1366px;
    height: 1372px;
    margin: 0 auto;
    /*background-color: pink;*/
}

/*CSS初始化 结束*/

.zsl0 {
    margin-top: 10px;
}

/*第一个盒子  开始*/

.zsl1 {
    width: 1920px;
    height: 680px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    /*background-color: #0A7EC3;*/
}

.zsl1 ul {
    width: 5760px;
    position: absolute;
    left: 0;
    top: 0;
}

.zsl1 li {

    float: left;
}

.zsl1-a {
    width: 585px;
    margin: 0 auto;
    margin-top: 40px;
    cursor: pointer;
}

/*第一个盒子  结束*/

/*第二个盒子  开始*/
.zsl2 {
    /*width: 1198px;*/
    height: 611px;
    margin: 0 auto;
    /*margin-top: 50px;*/
    margin-left: 75px;

}

.zsl2 li {
    float: left;
}

/*第二个盒子  结束*/

/*第三个盒子  开始*/
.zsl3 {
    width: 1198px;
    height: 120px;
    margin: 0 auto;
    margin-top: -115px;
    background-color: #F7F7F7;
}

.zsl3-a {
    margin-left: 24px;
    margin-top: 29px;
    position: relative;
    top: 10px;
    cursor: pointer;
}

.zsl3-b {
    margin-top: 18px;
    margin-left: 24px;
    cursor: pointer;
}

.zsl3-c {
    margin-top: -88px;
    margin-left: 1000px;
    position: relative;
    top: 10px;
    cursor: pointer;

}

/*第三个盒子  结束*/
/*第四个盒子  开始*/
.zsl4{
    height: 165px;
    background-color: #C09860;
    padding: 0px 0px;
    margin-top: -10px;
}
.zsl4-a{
    margin-left: 75px;
    padding-top: 45px ;
    /*height:60px;*/

}
.zsl4-b {
    /*display: none;*/
    position: absolute;
}
.zsl4-c{
    width: 89px;
    height: 90px;
    display: inline-block;
    background: url("../imges/z14.png") no-repeat 0 -39px ;
}
.zsl4-c:hover{
    background: url("../imges/z14.png") no-repeat 0 -139px ;
}
.zsl4-d{
    width: 94px;
    height: 95px;
    display: inline-block;
    background: url("../imges/z14.png") no-repeat -118px -39px ;
}
.zsl4-d:hover{
    background: url("../imges/z14.png") no-repeat -120px -139px ;
}
.zsl4-e{
    width: 93px;
    height: 101px;
    display: inline-block;
    background: url("../imges/z14.png") no-repeat -239px -38px ;
}
.zsl4-e:hover{
    background: url("../imges/z14.png") no-repeat -240px -136px ;
}
.zsl4-b ul {
    position: relative;
    top: -97px;
    left: 376px;
}
.zsl4-b li{
    float: left;
    margin-left: 20px;
}
.zsl4-f{
    float:left;
    position: relative;
    top: -12px;
}
.zsl4-h{
    position: relative;
    top: -31px;
    float:left;
}
.zsl4-i{
    position: relative;
    top: -31px;
    float:left;
}
/*第四个盒子  结束*/

/*第五个盒子 开始*/
.zsl5{
    position: relative;
    top: 10px;
    left: 2px;
    cursor: pointer;
}


/*第五个盒子 结束*/

/*第六个盒子 开始*/
.zsl6{
    cursor: pointer;
}
/*第六个盒子 结束*/
.wky_jl {
    margin-top: 70px;
}